@import "../../bower_components/foundation/scss/foundation/functions";

$form-spacing: rem-calc(16) !default;
$estimate-input-font-size: rem-calc(25) !default;
$purple: rgba(119, 91, 136, 0.75);
$light-green: rgba(174,213,129,0.55);
body {
   font-family: 'Asap', sans-serif;
}
.main-wrapper {
   h1 {
      font-family: 'Sacramento', cursive;
      padding-bottom: 15px;
      padding-top: 15px;
      font-size: 72px;
      line-height: 1.48em;
   }
   .button {
      font-family: 'Asap', sans-serif;
      &:hover, &:visited {
         background-color: $light-green;
      }
   }
}
#image {
   position: absolute;
   width: 100%;
   height: 100%;
   background-image: url("../img/quilt4-min.webp");
   background-size: cover;
}
#mobile-image {
   position: absolute;
   width: 100%;
   height: 100%;
   background-image: url("../img/quilt4-mobile-crop.jpeg");
   background-size: cover;
}
#content {
   position: absolute;
   top: 100%;
   width: 100%;
   //height: 200px;
}
#estimate-button {
   background-color: $light-green;
   //background-color: rgba(66, 39,59,0.80);
   position: relative;
   margin-top: 100%;
   font-family: inherit;
   text-align: left;
   color: #fff;
   padding: 35px;
   p {
      font-size: 1.55em;
      line-height: 1.35em;
   }
   a {
      color: inherit;
      i {
         padding-left: 10px;
      }
   }
}
.purple-box {
   //background-color: rgba(66, 39,59,0.55);
   background-color: $purple;
   padding: 10px 35px;
   h1 {
      // TODO: change this to a percentage or use the foundation function
      font-size: 38px;
   }
   h1,
   h2,
   h3 {
      line-height: inherit;
      font-family: inherit;
   }
   h3 {
      text-align: left;
   }
}
#estimate-logic {
   margin-top: 30px;
   .estimate-inputs {
      background-color: inherit;
      color: #fff;
      height: ($estimate-input-font-size + ($form-spacing * 1.5) - rem-calc(1));
      &::-webkit-input-placeholder {
         font-size: initial;
         color: #fff;
      }
      &::-moz-placeholder {
         font-size: initial;
         color: #fff;
      }
      &:-ms-input-placeholder {
         font-size: initial;
         color: #fff;
      }
      &:-moz-placeholder {
         font-size: initial;
         color: #fff;
      }
      &:focus {
         background-color: inherit;
      }
   }
   .estimate-input-text {
      @extend .estimate-inputs;
      font-size: $estimate-input-font-size;
      line-height: ($estimate-input-font-size + ($form-spacing * 1.5) - rem-calc(1));
   }
   .estimate-input-select {
      @extend .estimate-inputs;
      option {
         background-color: $purple;
      }
   }
   label {
      font-size: inherit;
      color: #fff;
   }
   #price-text {
      font-size: 72px;
      text-align: center;
      margin-top: 10px;
   }
}

// Estimate Calculator
#estimator {
   padding-top: 40px;
}

.hero-content {
   background-color: #fff;
}
.about-content {
   h4 {
      font-family: 'Asap', sans-serif;
   }
}
.solid-background {
   background-color: #aed581;
   .panel {
      box-shadow: none;
      background-color: inherit;
   }
}
