@media only screen and (max-width: 40em) {
   #header-title {
      font-size: 42px;
      padding: 0;
   }
   #estimate-button {
      margin-top: 0px !important;
   }
   #award-quilts {
      padding-top: 1.25em;
   }
   .purple-box {
      padding: 0px !important;
      h1 {
         font-size: 28px !important;
      }
   }
}
